.container-fluid{
  min-height: 105vh;
  background: -webkit-linear-gradient(90deg, #000000,#1b2998,#000000);
  background: linear-gradient(90deg, #000000,#1b2998,#000000);
}

button:focus{
  border: 0 none;
  overflow: hidden;
}

.options{
  font-size: 32px;
  color: #FFFFFF;
}

.ftProfile{
  margin: 0 auto;
  text-align: center;
}

.ftperfil{
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
}

.username{
  color: #FFFFFF;
  margin-top: 10px;
}

p{
  color: #FFFFFF;
}
.buttonContact a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: 100%;

  &:hover {
    background-color: #f0f0f0;
  }

  &:focus {
    outline: none;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .button-text {
    flex-grow: 1;
    text-align: center;
  }
}

.footer {
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
}
